/* CSS declarations go here */
html, body {
  background-color: #fafafa !important;
}
.navbar {
  background-color: white;
  border-bottom: 1px solid lightgrey;
}
.form-control {
  border: 0 !important;
}
.article-title {
  font-size: 1.5rem;
}
.btn-primary {
  background-color: #02b875;
  border: 1px solid grey;
  border-radius: 20px;
}

.form-group button {
  float: right;
}

.help-block {
  color: darkred;
}
.recommendations {
  padding-top: 20px;
}
ul {
  padding-left: 10px;
}
li {
  list-style: none;
  margin: 0;
}
