<template name="Articles">
  {{#unless currentUser}}
    <img id="login-sign-in-link" style="width: 100%;" src="images/welcome.png" alt="Welcome Image">
  {{/unless}}
  <div class="row">
    <div class="col-sm-8">
      {{#if currentUser}}
        {{#if $.Session.get 'addMode' }}
          {{> NewArticle}}
        {{else}}
          <div class="card new-article" >
            <div class="card-block">
              <p class="card-text"><small class="text-muted">Write here...</small></p>
            </div>
          </div>
        {{/if}}
      {{/if}}
      <section class="articles">
        {{#if Template.subscriptionsReady}}
          {{#each articles}}
            {{> Article}}
          {{/each}}
        {{else}}
          <progress class="progress progress-striped progress-info" value="100" max="100"></progress>
        {{/if}}
      </section>
    </div> <!-- col -->
    <div class="col-sm-4">
      <section class="recommendations">
        <small class="text-muted">Editor's Picks</small><br>
        <small>Stories worth talking about</small>
        <hr>
        <ul>
          {{#each featuredArticles}}
            <li>
              <small><strong>{{title}}</strong></small>
            </li>
            <li>
              <small class="text-muted">{{authorName author}}</small>
            </li>
          {{/each}}
        </ul>
      </section>
    </div> <!-- col -->
  </div> <!-- row -->
</template>
